#Data Science Tools and Ecosystem

##In this notebook, Data Science Tools and Ecosystem are summarized.

#Some of the commonly used libraries used by Data Scientists include:

In [ ]:
1.Python
2.R
3.SQL

#Some of the commonly used libraries used by Data Scientists include:

In [ ]:
1.Matplot
2.Seaborn
3.Pandas
4.Numpy

|Data Science tools|
|------------------|
|Tensorflow|
|Apache Spark|
|Scikit-learn|

###Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
#this a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [18]:
#This will convert 200 minutes to hours by diving by 60
a=200
b=200//60
c=200%60
print(b)
print(c)
print(f"{b}hours{c}minutes")

3
20
3hours20minutes

**Objectives**

- List popular languages for Data Science.
- Identify libraries used for Data Science.
- Explain the tools and frameworks for Data Science.
- Understand the basics of Machine Learning.
- Explore data visualization techniques.

##